<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.dong.boardMapper">
  	<!-- 로그인 -->
 	<select id="login" parameterType="java.util.Map" resultType="java.util.Map">
 		select user_id,name,user_auth from member
 		where user_id=#{user_id} and password=#{password}
 	</select>
 	
 	<!-- 회원가입 -->
 	<!-- <insert id="sign-up" parameterType="MemberDTO">
	 	insert into member (user_id, social_id, password, name, phone_num, user_created_at)
	 	values (#{user_id}, #{social_id}, #{password}, #{name}, #{phone_num}, now())
 	</insert> -->
 	
 	<insert id="sign-up" parameterType="MemberDTO">
	    insert into member (user_id, social_id, password, name, phone_num, user_auth, user_created_at)
	    values (#{user_id}, #{social_id}, #{password}, #{name}, #{phone_num}, 
	            #{user_auth}, now())
	</insert>
 	
 	<!-- 이메일 중복 -->
 	<select id="email-check" parameterType="String" resultType="int">
	    select count(*) from member
	    where user_id = #{user_id}
	</select>
 	<!-- <select id="email-check" parameterType="MemberDTO" resultType="int">
 		select count(*) from member
 		where user_id = #{user_id}
 	</select> -->
 	
 	<!-- 회원 관리 리스트 -->
 	<select id="getTotalMember" resultType="MemberDTO">
 		select * from member
 		order by user_created_at desc
 	</select>
 	
 	<!-- 회원 탈퇴 --> 	
 	<!-- <update id="deleteUser" parameterType="java.lang.Integer">
 		update member set user_status = 1
 		where user_id = #{user_id}
 	</update> -->
 	<update id="deleteUsers" parameterType="java.util.List">
	    UPDATE member
	    SET user_status = 1
	    WHERE user_id IN
	    <foreach collection="list" item="user_id" open="(" separator="," close=")">
	        #{user_id}
	    </foreach>
	</update>
 	
 	
 	<!-- 글 전체 목록 -->
 	<select id="list" resultType="BoardDTO">
 		select * from board
 		where del = 0
 		order by bno desc	
 	</select>
 	
 	<!-- 글 하나 선택 -->
 	<select id="detail" parameterType="java.lang.Integer" resultType="BoardDTO">
 		select * from board
 		where bno=#{bno}
 	</select>
 	
 	<!-- 글 등록  -->
 	<insert id="register" parameterType="BoardDTO">
 		insert into board (bno, title, content, id, regdate, readcnt, etc, del)
 		values (#{bno}, #{title},#{content},#{id}, curdate(), 0, #{etc}, 0)
 	</insert>
 	
 	<!-- 글 수정  -->
 	<update id="update" parameterType="BoardDTO">
 		update board set title=#{title}, content=#{content}, regdate = curdate()
 		where bno=#{bno}
 	</update>
 	
 	<!-- 글 삭제 -->
 	<update id="delete" parameterType="java.lang.Integer">
 		update board set del = 1
 		where bno = #{bno}
 	</update>
 	
 	<!-- 조회수 증가 -->
 	<update id="readCnt" parameterType="java.lang.Integer">
 		update board set readcnt = readcnt + 1
 		where bno=#{bno}
 	</update>
 	
 	<!-- 댓글 등록  -->
 	<insert id="reply" parameterType="BoardReply">
 		insert into board_reply (rewriter, rememo, redate, bno)
 		values(#{rewriter}, #{rememo}, curdate(), #{bno})
 	</insert>
 	
 	<!-- 댓글 보기 -->
 	<select id="replylist" parameterType="java.lang.Integer" resultType="BoardReply">
		 select * from board_reply
		 where bno =#{bno}	
 	</select>
 	
 	<update id="replyupdate" parameterType="BoardReply">
 		update board_reply set rememo= #{rememo}, redate = curdate() where reno = #{reno}
 	</update>
 	
 	<delete id="deletereply" parameterType="java.lang.Integer">
 		delete from board_reply where reno=#{reno}
 	</delete> 	
  	
  	
  	<!-- 페이징  --> 
 	<select id="totalRecord" resultType="java.lang.Integer">
 		select count(*) from board where del = 0
 	</select>
 	
 	<select id="findAll" parameterType="java.util.Map" resultType="BoardDTO">
 		select *
 		from board
 		where del = 0
 		order by bno desc
 		LIMIT #{start}, #{end}
 	</select>
 	
 	<!-- <select id="findAll" parameterType="java.util.Map" resultType="BoardDTO">
 		select *
	from (select @ROWNUM:=@ROWNUM+1 rownum, bno, id, title, content, regdate 
			from (select *,(@ROWNUM:=0) r from board where del = 0 order by bno desc)A)B
	where rownum between #{start} and #{end}
 	</select> -->
  </mapper>