<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias alias="ProductDTO" type="kr.co.dong.catdog.ProductDTO"/>
 		<typeAlias alias="MemberDTO" type="kr.co.dong.catdog.MemberDTO"/>
 		<typeAlias alias="PaymentDTO" type="kr.co.dong.catdog.PaymentDTO"/>
 		<typeAlias alias="OrderDTO" type="kr.co.dong.catdog.OrderDTO"/>
 		<typeAlias alias="OrderItemDTO" type="kr.co.dong.catdog.OrderItemDTO"/>
 		<typeAlias alias="MyDTO" type="kr.co.dong.catdog.MyDTO"/>
 		<typeAlias alias="CartDTO" type="kr.co.dong.catdog.CartDTO"/>
 		
 		<typeAlias alias="BoardDTO" type="kr.co.dong.board.BoardDTO"/>
 		<typeAlias alias="BoardReply" type="kr.co.dong.board.BoardReply"/>
 	</typeAliases>
 </configuration>